*{
  box-sizing: border-box;
}
.container {
  margin: 0px auto;
  background-color:#d4d4d4;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 20%);
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 70px;
  background-image: url('https://i.ebayimg.com/thumbs/images/g/ujsAAOSwpJRdoU03/s-l225.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
}

/* https://hondajdm.ru/image/cache/catalog/47CE73EF-A18E-4BB1-A005-48C670690920-1140x380.jpeg */