*{
  box-sizing: border-box;
}
.container {
  margin: 0px auto;
  background-color:#5e5e5e;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 20%);
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 70px;
  background-image: url('https://thumbs.dreamstime.com/z/abstract-hi-tech-dark-metal-silver-background-d-render-illustration-74148296.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
}
